.cohortDivide{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.green{
    padding-right: 10px;
    color: rgb(107, 191, 107);
    font-size: 1.2em;
}

.check {
    padding-right: 10px;
    transition: all 300ms;
}

.check:hover{
    color: rgb(153, 205, 153);
    font-size: 1.2em;
}

.trash {
    transition: all 300ms;
}
.trash:hover{
    color: rgb(155, 39, 39);
    /* color: rgb(153, 205, 153); */
    font-size: 1.2em;
}