// .dueThisWeek{
// }

.dueThisWeek ul {
  padding-left: 10px;
  list-style: none;
}

.dueThisWeek ul li {
  padding: 5px;
}

.hackerContainer a {
  text-decoration: none;
  color: rgb(132, 173, 243);
}

.hackerContainer {
  text-align: left;
}

.hackerContainer ul {
  list-style: none;
  padding: 0;
  border-top: rgba(88, 87, 87, 0.5) solid 1px;
}

.hackerContainer li {
  padding: 5px;
  border-bottom: rgba(88, 87, 87, 0.5) solid 1px;
}

.hackerContainer a:hover {
  color: #a29bfe;
}

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{calc($size / 2)});
  top: calc(50% - #{calc($size / 2)});
  width: $size;
  height: $size;
}

$size: 200px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #e5e5e5;
  position: relative;
  &.gt-50 {
    background-color: rgb(206, 0, 11);
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{calc($size / 2)});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{calc($size / 2)}, $size, 0);
    background: rgb(206, 0, 11);
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{calc($size / 2)}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{calc($size / 2)});
      background: #e5e5e5;
    }
  }
}
.ppc-percents {
  @include circle(#{calc($size / 1.15)});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: rgb(206, 0, 11);
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

body {
  font-family: Arial;
  background: #f7f7f7;
}
.progress-pie-chart {
  margin: 50px auto 0;
}
