#root {
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

body {
  background-color: rgb(160, 30, 30);
  color: white;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/*********** LOGIN ANIMATION ***********/
